.container {
  display: flex;
  margin-left: 10px;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 1px solid lightgray;
}

.summaryContainer {
  margin-left: auto;
  margin-right: auto;
}
